/* You can add global styles to this file, and also import other style files */
.cliente h1.po-page-header-title{
    color:mediumvioletred;
}
.cliente .po-menu {
    background-color: whitesmoke;
    color: #c9357d;
}
.cliente .po-menu-inner div{
    color: #c9357d;
}
.po-widget{
  margin-bottom: 3%;
}
.center{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.center2{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.center .po-button{
  width: 100%;
}
