<po-page-dynamic-table
  [p-auto-router]='true'
  [p-concat-filters]='true'
  [p-keep-filters]='true'
  p-title="Pedidos"
  [p-breadcrumb]="breadcrumb"
  [p-table-custom-actions]="tableCustomActions"
  [p-service-api]="serviceApi"
  [p-load]="onLoad.bind(this)"
></po-page-dynamic-table>

<po-modal #userDetailModal p-size='lg' p-title="Detalhes do Pedido">
  <po-widget p-primary-label="Quantidade: {{quantidade}}" p-secondary-label="Total: {{valor_total}}">

    <po-table
    [p-items]="pedidoitems"
    [p-sort]="true"
    [p-striped]="true"
    ></po-table>
  </po-widget>


</po-modal>
<router-outlet></router-outlet>
