<po-page-default p-title="Formulario" [p-breadcrumb]="breadcrumb">


  <po-widget *ngIf="codigo" class="po-md-12" [p-height]="380" p-primary-label="Próximo" p-title="Purchase"
    (p-primary-action)="valited('codigo')">

      <po-input p-clean='true' [(ngModel)]="input" name="input" p-clean="" p-label="Codigo do produto" p-required>
      </po-input>

  </po-widget>

  <po-widget *ngIf='chooseProduct'>
    <po-button *ngIf="buttonChooseProduct" p-size='lg' p-label='Escolher' (click)="valited('chooseProduct')"></po-button>
    <form #produtoInputForm="ngForm">

      <po-table (p-selected)="chooseSelect($event)"
      (p-unselected)="chooseDeselect($event)" [p-striped]="true" [p-single-select]="true" [p-selectable]="true"
        [p-columns]="columns" [p-items]="items"> </po-table>
    </form>

  </po-widget>

  <po-widget *ngIf="exchange">
    <po-select name="all" [ngModel]="opctroca" p-field-value="opctroca" (p-change)="changeEventRepo($event)" p-label="Opções de Troca*" [p-required]='true'
      [p-options]="all">
    </po-select>

    <po-select name="selectDefeito" [ngModel]="defeito" p-field-value="defeito" (p-change)="changeEventDefeito($event)" p-label="Defeito em*" [p-required]='true'
      [p-options]="selectDefeito">
    </po-select>

    <po-select name="selectTipoDefeito" [ngModel]="tipodefeito" p-field-value="tipodefeito" (p-change)="changeEventTpDefeito($event)" p-label="Tipo Defeito*" [p-required]='true'
      [p-options]="selectTipoDefeito">
    </po-select>

    <po-textarea name="nota" [(ngModel)]="descricao" name="descricao" p-label="Observação adicional *"> </po-textarea>

    <form enctype="multipart/data">
      <div class="btnSelec">
        <label for="file">Selecione até 5 imagens</label>
      </div>
      <div class="list">
        <ul><div [innerHTML]="inputImg"></div></ul>
        <po-button class="mt-15" *ngIf="!!inputImg" p-label='Limpar Imagens' (p-click)="clearImg()"></po-button>
      </div>
      
      <input type="file" id="file" accept="image/*" hidden multiple (change)="onSelectNewFile($any($event.target).files)">
      
    </form>

    <po-button p-size='lg' p-label='Escolher' (click)="valited('buttonExchange')"></po-button>
  </po-widget>

  <po-modal #modal p-title="{{titleModal}}" [p-primary-action]="modalAction" p-size="auto">
    <div *ngIf="lTermo">
      <div class="po-row"> 
        <po-divider class="po-sm-12"></po-divider>
    
        <div class="po-sm-12">
          <div>
            <div style="clear:both;">
              <h1>Formul&aacute;rio</h1>
              <br>
              
              <p>ROBSOL - Pol&iacute;ticas e procedimentos para trocas</p>
              
              <p>Solicita&ccedil;&atilde;o de troca | Assist&ecirc;ncia t&eacute;cnica</p>
              
              <p>A Robsol empenha-se em fabricar produtos com qualidade e oferece garantia para seus &oacute;culos pelos per&iacute;odos abaixo contra defeito de fabrica&ccedil;&atilde;o:</p>
              
              <p>- 3 (tr&ecirc;s ) meses de garantia de acordo com c&oacute;digo de defesa do consumidor, mais 9 ( nove ) meses concedidos pela ROBSOL, totalizando 1 ( um ) ano de garantia.</p>
              
              <p>- Mediante apresenta&ccedil;&atilde;o do cupom fiscal de venda ao consumidor final.</p>
              
              <p>&nbsp;</p>
              
              <p>- <strong>Garantia produto marca pr&oacute;pria</strong></p>
              
              <p>- Garantia para consumidor final, 90 dias a partir da data da emiss&atilde;o do cupom fiscal de venda.</p>
              
              <p>&nbsp;</p>
              
              <p>Constatado que o produto apresenta defeito de fabrica&ccedil;&atilde;o, a Robsol se compromete a realizar a troca do produto sem nenhum &ocirc;nus aos nossos clientes ou consumidor final.</p>
              
              <p>A Robsol descreve em detalhes abaixo os defeitos aceitos para atendimento de garantia.</p>
              
              <p>Em casos em que n&atilde;o tivermos o mesmo modelo para atendimento &agrave; substitui&ccedil;&atilde;o da mesma ser&aacute; feita por um modelo similar de mesmo valor.</p>
              
              <p>&nbsp;</p>
              
              <p><strong>Documentos:</strong></p>
              
              <p>*NF de Remessa de Garantia / Troca.</p>
              
              <p>*Fotos da pe&ccedil;a evidenciando o defeito.</p>
              
              <p>*Cupom de venda cliente Final.</p>
              
              <p>Com os dados conferidos e a nota estando correta, ser&aacute; aberto o pedido de envio da nova pe&ccedil;a para o lojista.</p>
              
              <p>*OBS: garantia n&atilde;o ser&aacute; efetuada sem esses documentos.</p>
              
              <p>&nbsp;</p>
              
              <p><strong>Pe&ccedil;a:</strong></p>
              
              <p>Depois da documenta&ccedil;&atilde;o aprovada e garantia recebida, a loja deve devolver a pe&ccedil;a com defeito atrav&eacute;s de c&oacute;digo para postagem oferecido pela Robsol.</p>
              
              <p>- C&Oacute;PIA DA NF DE COMPRA (ou cupom fiscal de venda ao consumidor final)</p>
              
              <p>- NF DE REMESSA DE TROCA.</p>
              
              <p>&nbsp;</p>
              
              <p><strong>Marcas Robsol&reg; atendidas pela garantia</strong>:</p>
              
              <p>Carmen Vitti, Fox, Romano, Sabrina Sato, Trunks, Disney, Ecko, Femme Paris e marca pr&oacute;pria.</p>
              
              <p>Nota: &nbsp;Ap&oacute;s an&aacute;lise de pe&ccedil;a com defeito, se for constatado que n&atilde;o cabe a garantia ser&aacute; feita a cobran&ccedil;a da pe&ccedil;a enviada anteriormente como garantia antecipada. ( Boleto banc&aacute;rio )</p>
              
              <p>&nbsp;</p>
              
              <p><strong>O que &eacute; considerado defeito de fabrica&ccedil;&atilde;o:</strong></p>
              
              <p>&bull; &nbsp; &nbsp;Metal descascando e/ou oxidando;</p>
              
              <p>&bull;&nbsp; &nbsp; Charneira solta do aro;</p>
              
              <p>&bull;&nbsp; &nbsp; Pintura do metal ou acetato com bolhas;</p>
              
              <p>&bull;&nbsp; &nbsp; Quebra na solda (apenas se ocorrido na emenda da solda, as quebras pr&oacute;ximas n&atilde;o se enquadram);</p>
              
              <p>&bull;&nbsp; &nbsp; Descolamento do logotipo &nbsp;(exceto pelo aquecimento do produto em equipamentos de ajustes como areeiro);</p>
              
              <p>&bull;&nbsp; &nbsp; Parafuso espanado;</p>
              
              <p>&bull;&nbsp; &nbsp; Haste com mola quebrada;</p>
              
              <p>&Oacute;culos solares</p>
              
              <p>&bull;&nbsp; &nbsp; Lentes caindo da arma&ccedil;&atilde;o, n&atilde;o fixas ao aro exceto se o aro estiver torto ou danificado devido &agrave; ajustes feitos de forma indevida);</p>
              
              <p>&bull;&nbsp; &nbsp; Lentes descascando e/ou perda do efeito espelhado;</p>
              
              <p>&bull;&nbsp; &nbsp; Lentes com tonalidade diferentes e/ou manchadas.</p>
              
              <p>&nbsp;</p>
              
              <p>&nbsp;</p>
              
              <p><strong>O que n&atilde;o &eacute; considerado defeito de fabrica&ccedil;&atilde;o:&nbsp;</strong></p>
              
              <p>&bull; &nbsp; &nbsp; Arma&ccedil;&atilde;o mordida ou queimada;</p>
              
              <p>&bull;&nbsp; &nbsp; Arma&ccedil;&otilde;es ou lentes com altera&ccedil;&atilde;o de cor e/ou manchadas devido ao uso de agentes qu&iacute;micos (acetona, &aacute;lcool, tintura para cabelo etc.);</p>
              
              <p>&bull;&nbsp; &nbsp; Arma&ccedil;&otilde;es ou lentes riscadas;</p>
              
              <p>&bull;&nbsp; &nbsp; Charneira torcida;</p>
              
              <p>&bull;&nbsp; &nbsp; Arma&ccedil;&atilde;o quebrada (queda, pisadas, esmagadas, ajuste em loja);</p>
              
              <p>&bull;&nbsp; &nbsp; Ou qualquer outro defeito que apresente mau uso.</p>
              
              <p>&nbsp;</p>
              
              <p><strong>Dicas de como cuidar da pe&ccedil;a:</strong></p>
              
              <p>&bull; &nbsp; &nbsp;N&atilde;o deixar as lentes em contato com superf&iacute;cies &aacute;speras.</p>
              
              <p>&bull;&nbsp; &nbsp; N&atilde;o expor a luz solar direta sob alta temperatura, como por exemplo, em pain&eacute;is de carro, este ato pode danificar a pe&ccedil;a.</p>
              
              <p>&bull;&nbsp; &nbsp; A capa de tecido e estojo que acompanham a pe&ccedil;a foram projetados para proteger os &oacute;culos quando estes tiverem de ser transportados ou armazenados.</p>
              
              <p>&bull;&nbsp; &nbsp; Lave o produto com sabonete l&iacute;quido neutro e secar com papel macio e absorvente.</p>
              
              <p>&bull;&nbsp; &nbsp; Tenha cuidado com ar quente vindo de secadores de cabelo.</p>
              
              <p>&bull;&nbsp; &nbsp; Ao apoiar seus &oacute;culos em superf&iacute;cies tenha o cuidado de deixar as lentes sempre viradas para cima.</p>
              
              <p>&bull;&nbsp; &nbsp; Procure sempre uma &oacute;tica autorizada para efetuar os ajustes necess&aacute;rios.</p>
              
              <address>&nbsp;</address>
              
            </div>
        </div>
        <div><br></div>
        </div>
      </div>
    
      <po-divider></po-divider>
    
      <div class="po-row po-p-1">
        <po-checkbox
          name="acceptance"
          [(ngModel)]="acceptance"
          p-label="Eu li e aceito os termos de Políticas e procedimentos para trocas"
          (p-change)="modalAction.disabled = !acceptance"
        >
        </po-checkbox>
      </div>
    </div>

    <div *ngIf="!lTermo">
      <po-table
        [p-auto-collapse]="true"
        [p-columns]="columnTitAb"
        [p-hide-columns-manager]="true"
        [p-items]="titEmAberto"
        [p-sort]="true"
        [p-striped]="true"
      >
      </po-table>
      <po-modal-footer>
        <po-button p-label="Fechar" (p-click)="closeModalTit()"> </po-button>
      </po-modal-footer>
    </div>
  </po-modal>

  <po-modal #userDetailProduto p-title="Detalhes da Nota" [p-primary-action]="enviaChamado">
    <po-dynamic-view p-size="lg" [p-fields]="detailFields" [p-value]="detailedProduto"> </po-dynamic-view>
    <div class="po-mt-3">
      <po-input name="InpOtherEnv" (p-change-model)="changeInpEnv($event)" p-label="Outro endereço de entrega (Opcional)"> </po-input>
    </div>
  </po-modal>

  <po-modal #sucessData p-title="Confirmação" [p-primary-action]="confirm">
    <div class="po-row">
      <p class="po-sm-12 po-font-title">Formulário de garantia enviado!</p>
    </div>
  </po-modal>

</po-page-default>
