
<po-page-dynamic-table
  [p-auto-router]='true'
  [p-concat-filters]='true'
  [p-keep-filters]='true'
  p-title="Titulos"
  [p-breadcrumb]="breadcrumb"
  [p-table-custom-actions]="tableCustomActions"
  [p-quick-search-width]="quickSearchWidth"
  [p-service-api]="serviceApi"
  [p-load]="onLoad.bind(this)"
></po-page-dynamic-table>
<po-modal #userDetailModal p-size="lg" p-title="Detalhes do Titulo">
  <po-dynamic-view [p-fields]="detailFields" [p-value]="detailedUser"> </po-dynamic-view>
</po-modal>
<router-outlet></router-outlet>
